li a {
    color: green;
}

li {
    color: orange;
}

h1 {
    color: white;
}

h2 {
    color: yellow;
    text-align: center
}

body {
    background: white url("images/turnip.gif") right bottom;
}
